:root {
  --font-family: 'Montserrat', sans-serif;
}

.feedback-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form input {
  padding: 8px 16px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  transition: border-color 250ms linear;
  outline: transparent;
  width: 360px;
  height: 40px;
}

.feedback-form textarea {
  resize: none;
  outline: transparent;
  margin-top: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 80px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form button {
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  border: none;
  background: #4e75ff;
  outline: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: var(--font-family);
  cursor: pointer;
}

.feedback-form button:hover {
  background: #6c8cff;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #000;
}

body {
  background-color: antiquewhite;
}

a {
  color: #bb7b10;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
